/* stylelint-disable-next-line string-quotes */
@import 'reset';
/* stylelint-disable-next-line string-quotes */
@import 'variables/global';
/* stylelint-disable-next-line string-quotes */
@import 'themes/normal';
/* stylelint-disable-next-line string-quotes */
@import 'themes/dark';
/* stylelint-disable-next-line string-quotes */
@import 'themes/orange';

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}
