/* stylelint-disable-next-line string-quotes */
@import 'reset';
/* stylelint-disable-next-line string-quotes */
@import 'variables/global';
/* stylelint-disable-next-line string-quotes */
@import 'themes/normal';
/* stylelint-disable-next-line string-quotes */
@import 'themes/dark';
/* stylelint-disable-next-line string-quotes */
@import 'themes/orange';

.app,
.app_modal,
.app_drower {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px; /* ширина вертикального скроллбара */
  height: 10px; /* высота горизонтального скроллбара */
}

*::-webkit-scrollbar-track {
  background: var(--card-bg); /* цвет фона трека */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--inverted-primary-color); /* цвет ползунка */
  border-radius: 5px;
  border: 2px solid var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* цвет ползунка при наведении */
}
